a {
    text-decoration: none;
    color: #2E2F42;
}
body {
    font-family: 'Roboto';
    max-width: 1440px;
    margin: auto;
}
a:hover {
    color: #4D5AE5;
}
li {
    list-style-type: none;
}
ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
header {
    padding: 24px 156px;
    box-sizing: border-box;
    border-bottom: 1px solid #E7E9FC;
}
.nav {
    display: flex;
}
.nav_webstudio{
    display: flex;
    text-decoration: none;
}
.nav_web {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    color: #4D5AE5;
}
.nav_studio {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    color: #2E2F42;
}
.container {
display: flex;
}
nav {
    display: flex;
}
.menu_nav {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 76px;
    color: #2E2F42;
}
.studio_nav {
    float: left;
}
.portfolio_nav {
    float: left;
}

address {
    display: flex;
}
.contact_date {
    display: flex;
}
.email {
    margin-left: 332px;
    display: flex;
    top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.tel {
    display: flex;
    top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 40px;
}
.hero_image {
    margin: 0px;
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 472px;
    padding-right: 472px;
    background: #2E2F42;
    text-align: center;
}
h1 {
    margin: 0px;
    font-style: normal;
    font-size: 56px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.order {
    margin-right: 0px;
    margin-top: 48px;
    position: relative;
    width: 169px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto';
}
h3 {
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 0px;
}
.margin_h3{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 32px;
    margin-left: 10px;
}
.margin_p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 15px;
}
.what {
    margin: 0px 0px;
    height: 40px;
    padding-left: 559px;
    padding-right: 558px;
    padding-top: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}
.doing {
    display: flex;
    padding: 72px 120px 120px 120px;
}
.box_img {
    display: inline-block;
    width: 360px;
    height: 300px;    
    top: 1128px;
    margin-right: 24px;
}
.section2 {
    width: 1440px;
}
.section3 {
    padding: 120px 156px;
    background: #F4F4FD;
}
.section1 {
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
}
.section1_ul {
    display: flex;
    justify-content: space-between;
}
.section_m {
    display: inline-block;
    width: 264px;
    height: 104px;
}
.our {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.teame {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.teame_card {
    display: inline-block;
    height: 380px;
    text-align: center;
    background-color: #FFFFFF;
}
.h3_ourteam {
    margin-top: 32px;
    margin-bottom: 8px;
}
.footer {
    padding: 100px 1020px 100px 156px;
    background: #2E2F42;
}
.web {
    color: #4D5AE5;
    font-size: 18px;
    font-family: 'Raleway';
}
.studio_foot {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.foot_d {
    color: #e7e9fc;
}
.container_filter {
    padding: 96px 472px 0px 472px;
    box-sizing: border-box;
    color: #4D5AE5;
}
.filter {
    display: flex;
    justify-content: space-between;
}
.container_img {
    padding: 72px 156px 120px 156px;
}
.all_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block_img {
    display: inline-block;
    height: 420px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}
button {
    border: 0;
    padding: 0%;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 12px;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto';
}
button:hover {
    border: 0;
    padding: 0%;
    background: #404BBF;
    color: #ffffff;
    padding: 12px 12px;
    border: 1px solid #404BBF;
    cursor: pointer;
    font-family: 'Roboto';
}
.position {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Roboto';
}
.h1_delete {
    display: none;
}